

body, p{

    font-family:"Kode Mono", monospace;
    font-weight: 200;
}
h1 ,
h2 ,
h3 ,
h4 ,
h5 {
    text-align: center;
}

p {
    text-align: center;
}

div {
    text-align: center;
}

.center {
    color:rgb(27, 201, 240);
}
.plin {
    color:rgb(33, 30, 39)
}
caption {
    color:rgb(69, 187, 177)
}